transformers==4.51.3
torch==2.7.0
accelerate==1.7.0
peft==0.14.0
gradio==5.22.0
datasets==3.6.0
numpy==1.26.4
unsloth==2025.6.12
trl== 0.19.0
vllm==0.8.5.post1
bitsandbytes==0.46.1
sacremoses==0.1.1
tensorboard==2.19.0
gradio==5.35.0
